.DS_Store
node_modules
.turbo
*.log
.next
dist
dist-ssr
*.local
.env
.cache
.idea
server/dist
public/dist
storybook-static
.direnv
.eslintcache
out
test-identicons
coverage
.vitest-attachments
tmp
__screenshots__
*.tsBuildInfo
*.tsbuildinfo
.generated

.ai/
.vite
next-env.d.ts

# apps/relay
apps/relay/data/*
!apps/relay/data/.gitkeep

# examples/react-expo
examples/react-expo/.expo/
examples/react-expo/expo-env.d.ts
examples/react-expo/ios
examples/react-expo/android
